<div class="box">

  <h1 class="titulo-page">
    CADASTRAR PROFISSIONAL

  </h1>

  <form class="form bg-avamed" [formGroup]="profissionalForm">
    <div class="row">
      <div class="col mb-3">
        <label for="nome" class="form-label">Nome </label>
        <input type="nome" class="form-control" id="nome" aria-describedby="nome" formControlName="nome" >
      </div>

      <div class="col mb-3">
        <label for="telefone" class="form-label"> Telefone </label>
        <input type="telefone" class="form-control" id="telefone" aria-describedby="telefone" formControlName="telefone">
      </div>
    </div>

    <div class="row">
      <div class="col-6 mb-3">
        <label for="endereco" class="form-label"> Endereço  </label>
        <input type="endero" class="form-control" id="endereco" aria-describedby="endereço" formControlName="endereco">
      </div>


    </div>


    <div class="row">
      <div class="col-6 mb-3">
        <label for="disabledSelect" class="form-label"> Ativo </label>
        <select id="" class="form-control">
          <option></option>
          <option>Sim </option>
          <option>Não </option>
        </select>
      </div>
    </div>

    <!-- <div class="row">



      </div>

      <div class="d-grid gap-2 mx-auto">
      </div> -->
      <button class="btn btn-form" type="button" (click)="submitCadastro()">
        Enviar
      </button>

  </form>
</div>

