<div class="box">

  <h1 class="titulo-page">
    CADASTRAR PROFISSIONAL
  </h1>

  <form class="form bg-avamed">
    <div class="row">
      <div class="col mb-3">
        <label for="nome" class="form-label">Nome </label>
        <input type="nome" class="form-control" id="nome" aria-describedby="nome">
     </div>


     <div class="col mb-3">
      <label for="carteira" class="form-label">CRM</label>
      <input type="carteira" class="form-control" id="carteira" aria-describedby="carteira">
   </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="cpf" class="form-label"> CPF </label>
        <input type="cpf" class="form-control" id="cpf" aria-describedby="cpf">
     </div>
     <div class="col mb-3">
      <label for="endereco" class="form-label"> Especialidade </label>

      <select id="" class="form-control">
        <option></option>
        <option>Cardiologista</option>
        <option>Nutricionista</option>
      </select>
      <input class="btn" name="A" type="button" value="--Adicionar--"(click)="navigateEspecialidade()">




      <!-- (click)="navigateEspecialidade()" -->

   </div>
    </div>


    <div class="row">
      <div class="col mb-3">
        <label for="telefone" class="form-label"> Telefone </label>
        <input type="telefone" class="form-control" id="telefone" aria-describedby="telefone">
     </div>
<!-- aa -->
<div class="col-6 mb-3">
  <label for="disabledSelect" class="form-label"> Ativo </label>
  <select id="" class="form-control">
    <option></option>
    <option>Sim </option>
    <option>Não </option>
  </select>
</div>
    </div>

    <div class="row">
      <div class="col-6 mb-3">
        <label for="endereco" class="form-label"> Endereço  </label>
        <input type="endero" class="form-control" id="endereco" aria-describedby="endereço">

     </div>


      </div>

      <!-- ADICIONAR MODAL -->
      <div class="d-grid gap-2 mx-auto">
        <button class="btn btn-form" type="button" >
          Enviar
        </button>
        </div>

  </form>
</div>

