<div class="box">

  <h1 class="titulo-page">
    ÁREA HOSPITAL
  </h1>

  <form class="form bg-avamed">
    <div class="row">
      <div class="col mb-3">
        <label for="nome" class="form-label">Nome </label>
        <input type="nome" class="form-control" id="nome" aria-describedby="nome">
     </div>


     <div class="col mb-3">
      <label for="carteira" class="form-label">CNES</label>
      <input type="carteira" class="form-control" id="carteira" aria-describedby="carteira">
   </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="cpf" class="form-label">CNPJ </label>
        <input type="cpf" class="form-control" id="cpf" aria-describedby="cpf">
     </div>
     <div class="col mb-3">
      <label for="email" class="form-label">Email </label>
      <input type="email" class="form-control" id="email" aria-describedby="email">
   </div>
    </div>


    <div class="row">
      <div class="col mb-3">
        <label for="telefone" class="form-label"> Telefone </label>
        <input type="telefone" class="form-control" id="telefone" aria-describedby="telefone">
     </div>

     <div class="col mb-3">
      <label for="senha" class="form-label"> Senha  </label>
      <input type="senha" class="form-control" id="senha" aria-describedby="senha">
   </div>
    </div>

    <div class="row">
      <div class="col-6 mb-3">
        <label for="endereco" class="form-label">Endereço  </label>
        <input type="endereco" class="form-control" id="endereco" aria-describedby="endereco">
     </div>


      <!-- <legend>Ativo </legend> -->
      <div class="col-6 mb-3">
        <label for="disabledSelect" class="form-label"> Ativo </label>
        <select id="" class="form-control">
          <option> </option>
          <option>Sim </option>
          <option>Não </option>
        </select>
      </div>
      </div>

      <div class="d-grid gap-2 mx-auto">
        <button class="btn btn-form" type="button" (click)="navigateProfissional()">
          Enviar
        </button>
        </div>

  </form>
</div>
