.box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form{
  display: flex;
  justify-content: center;

  padding: 60px;
  margin: 1em;
  border-radius: 30px;
  font-weight: 500;
}

input{
  border-radius: 5px;

}

.bg-avamed{

  background-color: #EB7736 !important;
  color: white;
}

select{
/* padding:10px 100px; */
width: 200px;
}
@media screen and (max-width: 500px) {
  select{
    /* padding:10px 100px; */
    width: 110px;
    }
}
@media screen and (max-width: 800px) {
  select{
    /* padding:10px 100px; */
    width: 160px;
    }
}
.btn-form{
  padding: 10px 100px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.titulo-page{
 font-weight: bold;
 margin: 10px;
}


.foco-label{
  color: black;
}


.col-center{
  margin: 0 auto 50px auto;

}


.box-profissa{
margin: 10px;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
}
.row  p {
color:black;
}
