<div class="box">

  <h1 class="titulo-page">
  RESULTADO PROFISSIONAIS
  </h1>



  <form class="form bg-avamed">
    <div class="box-profissa">

      <div class="row">
        <div class="col mb-3">
          <label for="nome" class="form-label">Nome </label>
          <p> nome sobrenome</p>
        </div>


        <div class="col mb-3">
          <label for="carteira" class="form-label">CRM</label>
        </div>
      </div>

      <div class="row">
        <div class="col mb-3">
          <label for="cpf" class="form-label"> CPF </label>

        </div>
        <div class="col mb-3">
          <label for="endereco" class="form-label"> Especialidade </label>



          <!-- (click)="navigateEspecialidade()" -->

        </div>
      </div>


      <div class="row">
        <div class="col mb-3">
        <label for="telefone" class="form-label"> Telefone </label>
     </div>
     <!-- aa -->
     <div class="col-6 mb-3">
       <label for="disabledSelect" class="form-label"> Ativo </label>

      </div>
    </div>

    <div class="row">
      <div class="col-6 mb-3">
        <label for="endereco" class="form-label"> Endereço  </label>

      </div>
    </div>



  </div>









  <div class="box-profissa">

    <div class="row">
      <div class="col mb-3">
        <label for="nome" class="form-label">Nome </label>
        <p> nome sobrenome</p>
      </div>


      <div class="col mb-3">
        <label for="carteira" class="form-label">CRM</label>
      </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="cpf" class="form-label"> CPF </label>

      </div>
      <div class="col mb-3">
        <label for="endereco" class="form-label"> Especialidade </label>



        <!-- (click)="navigateEspecialidade()" -->

      </div>
    </div>


    <div class="row">
      <div class="col mb-3">
      <label for="telefone" class="form-label"> Telefone </label>
   </div>
   <!-- aa -->
   <div class="col-6 mb-3">
     <label for="disabledSelect" class="form-label"> Ativo </label>

    </div>
  </div>

  <div class="row">
    <div class="col-6 mb-3">
      <label for="endereco" class="form-label"> Endereço  </label>

    </div>
  </div>



</div>




  </form>
</div>

