<div class="agendamento">

  <h1 class="titulo-page">
  AGENDAMENTO
  </h1>

  <form class="form bg-avamed">
    <div class="row">
      <div class="col mb-3">
        <label for="nome" class="form-label">Escolha a <span class="foco-label"> Especialidade</span> </label>
        <select id="" class="form-control col">
          <option> </option>
          <option>SP  </option>
          <option>RJ </option>
        </select>
     </div>


     <div class="col mb-3">
      <label for="carteira" class="form-label"> <span class="foco-label">
        Data
      </span>
         de agendamento </label>
         <input type="date" />
   </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="cpf" class="form-label">Escolha o  <span class="foco-label">
           Profissional
        </span>
      </label>
      <select id="" class="form-control col">
        <option> </option>
        <option>SP  </option>
        <option>RJ </option>
      </select>
     </div>
     <div class="col mb-3">
      <label for="cpf" class="form-label">Seleção de  <span class="foco-label">
        Horário
     </span>
   </label>
   <select id="" class="form-control col">
    <option> </option>
    <option> 13:00  </option>
    <option> 14:00 </option>
  </select>
   </div>
    </div>


    <div class="row">
      <div class="col mb-3">

        <label for="cpf" class="form-label">Selecione o
            <span class="foco-label">
          Estado
       </span>
     </label>
     <select id="" class="form-control col">
      <option> </option>
      <option>SP  </option>
      <option>RJ </option>
    </select>
        </div>



     <fieldset >



      <div class="col">
        <label for="disabledSelect" class="form-label">
          <span class="foco-label">
          Ativo
          </span>
        </label>
        <select id="" class="form-control col">
          <option> </option>
          <option>Sim </option>
          <option>Não </option>
        </select>
      </div>

    </div>

    <div class="row">

        <div class="col-center ">
          <label for="disabledSelect" class="form-label">
            <span class="foco-label">
            Hospital
            </span>
           </label>
          <select id="" class="form-control col">
            <option> </option>
            <option> Alvorada </option>
            <option> Santa Casa </option>
          </select>
        </div>



      </div>

      <!-- ADICIONAR MODAL -->
      <div class="d-grid gap-2 mx-auto">
        <button class="btn btn-form" type="button" (click)="navigateResultadoAgendamento()">
          Enviar
        </button>
        </div>

  </form>
