<div class="box">

  <h1 class="titulo-page">
    CADASTRAR ESPECIALIDADE
  </h1>

  <form class="form bg-avamed">
    <div class="row">
      <div class="col mb-3">
        <label for="nome" class="form-label">Nome </label>
        <input type="nome" class="form-control" id="nome" aria-describedby="nome">
     </div>


     <div class="col ">
      <label for="descricao" class="form-label">Descrição</label>
      <input type="descricao" class="form-control" id="descricao" aria-describedby="descricao" >
      <!-- <label>Mensagem:</label><br><textarea class="msg" cols="35" rows="8"></textarea><br> -->
      <!-- <br><textarea class="msg" cols="35" rows="8"></textarea><br> -->

   </div>
    </div>

    <div class="row">

     <div class="col-6 mb-3">
      <label for="endereco" class="form-label"> Identificação </label>
      <input type="endereco" class="form-control" id="endereco" aria-describedby="endereço">

   </div>
    </div>


    <div class="row">

<div class="col-6 mb-3">
  <label for="disabledSelect" class="form-label"> Ativo </label>
  <select id="" class="form-control">
    <option> </option>
    <option>Sim </option>
    <option>Não </option>
  </select>
</div>
    </div>


    <!-- ADICIONAR MODAL -->
    <div class="d-grid gap-2 mx-auto">
      <button class="btn btn-form" type="button" >
        Enviar
      </button>
      </div>





  </form>

</div>


