<div class="box">

  <h1 class="titulo-page">
  RESULTADO AGENDAMENTO
  </h1>



  <form class="form bg-avamed">
    <div class="row">
      <div class="col mb-3">
        <label for="nome" class="form-label">Escolha a <span class="foco-label"> Especialidade</span> </label>
        </div>


     <div class="col mb-3">
      <label for="carteira" class="form-label"> <span class="foco-label">
        Data
      </span>
         de agendamento </label>

   </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="cpf" class="form-label">Escolha o  <span class="foco-label">
           Profissional
        </span>
      </label>
</div>
     <div class="col mb-3">
      <label for="cpf" class="form-label">Seleção de  <span class="foco-label">
        Horário
     </span>
   </label>
       </div>
    </div>


    <div class="row">
      <div class="col mb-3">

        <label for="cpf" class="form-label">Selecione o
            <span class="foco-label">
          Estado
       </span>
     </label>


     </div>

      <div class="col">
        <label for="disabledSelect" class="form-label">
          <span class="foco-label">
          Ativo
          </span>
        </label>

      </div>


    </div>

    <div class="row">

        <div class="col-center ">
          <label for="disabledSelect" class="form-label">
            <span class="foco-label">
            Hospital
            </span>
           </label>

        </div>



      </div>


  </form>
