
<div class="container">

    <h1 class="titulo-page">
      SUA SAÚDE É A NOSSA PRIORIDADE!
    </h1>

    <div class="d-grid gap-2 mx-auto">
        <button class="btn btn-form" type="button">
          Qual é o seu perfil?
        </button>
        </div>

    <form class="form">
      <div class="row">
        <div class="col mb-3 bg-avamed beneficiario">
          <button class="btn btn-form" type="button" (click)="navigateBeneficiario()">
            Beneficiario
          </button>
          <i class="bi bi-person"></i>

       </div>

       <div class="col mb-3 bg-avamed">
        <button class="btn btn-form" type="button" (click)="navigateHospital()">
          Hospital
        </button>
        <!-- <label for="Empresa" class="form-label" type="button"  (click)="navigateHospital()">Hospital</label> -->
        <i class="bi bi-building"></i>
     </div>
      </div>


    </form>
  </div>
